apiVersion: v1
kind: Pod
metadata:
  name: zookeeper
  labels:
    name: zookeeper
  #   id: "0"
spec:
  containers:
  - name: zookeeper 
    image:  digitalwonderland/zookeeper
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
    ports: 
    - containerPort: 2181
    env:
    - name: ZOOKEEPER_ID
      value: "1" 
    - name: ZOOKEEPER_SERVER_1
      value: zookeeper
